html {
    height: 100%;
}
body {
    height: 98%;
    background-color: #6BFBCE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#buttonContainer {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    height: min-content;
}
#buttonClear {
    padding: 20px;
    background-color: #255ADF;    ;
    font-size: large;
    font-weight: bold;
    color: honeydew;
    border-radius: 10px;
    border-style: dotted;
    border-color: #008A65;
}
#boxContainer, #buttonContainer {
    width: 900px;
    background-color: #1EC198;

}
#boxContainer {
    height: 100%;
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
}
.smallBox {
    flex-grow: 1;
    flex-shrink: 1;
    width: 24%;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border: none;
}